body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1c1c39, #1515d3);
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 350px;
    padding: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card h1 {
    margin-bottom: 30px;
    color: #1c1c93;
}

.card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid ;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

.card input:focus {
    border-color: #4a4ad1;
    box-shadow: 0 0 5px rgba(74, 74, 209, 0.4);
}

input[type="submit"] {
    background-color: #1c1c93;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #4a4ad1;
    transform: translateY(-2px);
}
.card span{
    color:gray;
}
.card button{
    border: none;
    background-color: white;
    color: gray;
    transition: 0.3s;
}
button:hover{
    color: #4a4ad1;
    transform: translateY(-2px);
}
#error{
    display: none;
    margin-top: -10px;
    margin-bottom: 10px;
    justify-content: center;
    color: rgb(118, 4, 4);
    font-size: 14px;
}